{% extends 'base1.html.twig' %}

{% block title %}Cources list{% endblock %}

{% block navimg %}
{% endblock %}
{% block body %}
<div class="container-xxl py-5 page-header position-relative mb-5">
    <div class="container py-5">
        <h1 class="display-2 text-white animated slideInDown mb-4">{{category}}</h1>
    </div>
</div>
<div class="container m-1">
    <form id="searchF">
        <div style="display:flex; justify-content:center" class="row">
            <div style="width: 40%;" class="p-1 rounded search-bg rounded-pill shadow-sm mb-2">
                <div class="input-group">
                    <input style="border:none;" type="text" id="search-course" autocomplete="off" placeholder="What're you searching for?"
                        aria-describedby="button-addon1" class="form-control" />
                    <div class="input-group-append">
                        <div id="button-addon1" class="btn btn-link text-primary"><i class="fa fa-search"></i></div>
                    </div>

                </div>
            </div>
        </div>
    </form>
</div>
<div class="container-xxl bg-white py-5" id="coursecontent">
   {% include "Enfant/cours/_coursecontent.html.twig" %}
</div>
    <script src="{{ asset('./asset/User/js/coursesearch.js')}}"></script>
{% endblock %}